body {  
    background: linear-gradient(to bottom, #eff7ff, #bbd6ff);
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

p {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

h1 {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

h3 {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
}

.sectionTittle {
    color: rgba(0, 53, 121, 1);
    font-size: 25px;
    font-weight: bold;
}

header {
    display: flex;
    padding-top: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.header-left {
    background-color: rgba(137, 175, 220, 1);
    width: 50%;
    padding: 30px;
    border-radius: 30px 0px 0px 30px;
}

.my-name {
    font-size: 50px;
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    padding-top: 35px;
}

.header-right {
    background-image: url("../images/barcelonaSkate.png");
    background-position: center bottom 20%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 0px 30px 30px 0px;
}

#navigation {
    padding-top: 20px;
    margin-top: 30px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

ul.optionsNav {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.optionsNav li {
    background-color: rgba(82, 128, 178, 1);
    display: inline-block;
    min-width: 200px;
    max-width: 400px;
    padding: 15px 0px 15px 0px;
    margin: 0px 10px 10px 0px;
    border-radius: 30px;
    text-align: center;
}

ul.optionsNav li:hover {
    background-color: rgba(0, 93, 153, 1);
    cursor: pointer;
}

#projects {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

ul.projectsNav {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

ul.projectsNav li {
    background-color: rgba(137, 175, 220, 1);
    padding: 15px 30px 15px 30px;
    border-radius: 30px 30px 0px 0px;
    margin-right: 0;
}

ul.projectsNav li:hover {
    background-color: rgba(82, 128, 178, 1);
    cursor: pointer;
}

ul.projectsNav li div {
    font-family: Helvetica;
    color: white;
    text-decoration: none;
    display: none;
}

#projectsContainer{
    background-color: rgba(0, 93, 153, 1);
    margin-top: 0;
    border-radius: 0px 30px 30px 30px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.project {
    display: none;
    padding: 20px;
    animation-name: projectTransition;
    animation-duration: 1s;
}

.project #mobileText {
    display: none;
}
  
@keyframes projectTransition {
    from {opacity: 0.1};
    to {opacity: 1};
}

.project img:first-child {
    background-color: rgba(137, 175, 220, 1);
    max-width: 60%;
    max-height: 400px;
    border-radius: 0px 30px 30px 30px;
    border: 1px solid rgba(137, 175, 220, 1);
    box-shadow: 0px 0px 5px 1px rgba(0, 93, 153, 1);
}

.projectText {
    position: relative;
    top: -40px;
    margin: 40px;
}

.projectText img {
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

#gallery {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.cardsContainer {
    background-color: rgba(137, 175, 220, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-radius: 30px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.card {
    border-radius: 10px;
    margin-top: 30px;
    border: 1px solid rgba(137, 175, 220, 1);
    box-shadow: 0px 0px 5px 1px rgba(0, 93, 153, 1);
    width: 260px;
    height: 300px;
    overflow: hidden;
}

.imageContainer {
    background: radial-gradient(circle, rgba(0, 93, 153, 1), rgba(137, 175, 220, 1));
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    border-radius: 10px;
    transition: opacity 0.3s ease;
    max-height: 620px;
    max-width: 620px; 
}

.textContainer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.imageContainer:hover img {
    opacity: 0.2;
    cursor: pointer;
}

.imageContainer:hover .textContainer {
    display: block;
}

#galleryFullScreen {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.fullScreenContainer {
    background: linear-gradient(rgba(137, 175, 220, 0.8), rgba(0, 93, 153, 0.8));
    max-width: 800px;
    max-height: 700px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding-bottom: 20px;
}

.fullScreenContainer img {
    max-height: 550px;
    max-width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#galleryAditionalImages {
    display: block;
}

#galleryAditionalImages img {
    margin-top: 20px;
    margin-left: 20px;
    max-height: 120px;
    max-width: 120px;
    border-radius: 5px;
    position: relative;
    left: 60px;
}

#galleryAditionalImages img:hover {
    cursor: pointer;
}

#xButton {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
}

#contacts {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

footer {
    margin-bottom: 80px;
    background-color: rgba(137, 175, 220, 1);
    border-radius: 30px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

footer ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer ul li a img {
    width: 40px;
}

@media (max-width: 1260px) {
    ul.projectsNav li {
        padding: 20px 17px 17px 17px;
    }
    ul.projectsNav li a {
        display: none;
    }
    ul.projectsNav li div {
        font-family: Helvetica;
        color: white;
        text-decoration: none;
        display: block;
    }
}

@media (max-width: 900px) {
    .my-name {
        padding-top: 5px;
        font-size: 30px;
    }
    .header-left{
        width: 100%;
        padding-top: 10px;
        border-radius: 30px 30px 30px 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .header-right{
        display: none;
    }
    .project {
        flex-wrap: wrap;
    }
    .projectText {
        margin-left: 0px;
        margin-right: 0px;
    }
    .project img:first-child {
        max-width: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .project {
        flex-wrap: wrap;
    }
    .project #mobileText {
        display: block;
    }
    ul.projectsNav li {
        padding: 20px 12px 17px 12px;
    }
}